<link
  href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css?family=Anton&display=swap"
  rel="stylesheet"
/>
<header>
  <img
    src="https://api.chucknorris.io/img/chucknorris_logo_coloured_small@2x.png"
    alt=""
  />
  <h1>The Chuck Norris Joke App</h1>
</header>
<div class="quote">
  <p>
    {{ this.quote }}
  </p>
  <input type="image" src="{{ this.iconUrl }}" (click)="getQuote()" />
</div>
<div style="padding-top: 30px">
  <app-footer></app-footer>
</div>
